body{
    background-color: #1f2326;
}
.container {
    width: calc(100% - 130px);
    margin-left: 110px;
    background-color: #1f2326;
    padding-bottom: 20px;
}

.table{
 border-color: #343a40;
 background-color: #495057;
}


tr:hover{
    background-color: #6c757d;
}



.filter{
    margin-left: 730px;
    background-color:#1f2326;
    color: #ffffff;
    border-color: #ffa300;
    border-radius: 15px;
    width: 90px;
    border-width: 1px;
}

.title-txt{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
}

.new-btn{
   margin-left: 20px;
    background-color: #ffa300;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
   width: 120px;
}

.user{
    width: 48px;
}

.profile{
    display: flex;
}

.txt1{
    margin-left: 10px;
    
}
.name{
    font-weight:600;
    color: #e9ecef;
}

.name2{
    color: rgb(185, 185, 185);
    font-size: small;
}

.button1{
    border: none;
    background-color: #ffa300;
    color: white;
    width: 80px;
}

.icn-txt{
    color: #ffa300;
}

.button3{
    border-color: #ffa300;
    background-color: #343a40;
    color: white;
    width: 80px;
    border-width: 1px;
}

.icn-txt1{
    color: rgb(255, 255, 255);
}

.table th{
    background-color: #343a40;
    color: #ffffff;
}

.table td{
    color: #e9ecef;
}